.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | Project name
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        li(class=(title == 'API Examples') ? 'active' : undefined)
          a(href='/api') API Examples
        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
          
        //- if !user
        //-   li(class=(title == 'Recipes') ? 'active' : undefined)
        //-     a(href='/recipes') Recipes
        //- else
        li.dropdown(class=(title == 'Recipes') ? 'active' : undefined)
          a.dropdown-toggle(href='/recipes', data-toggle='dropdown') Recipes
            i.caret
          ul.dropdown-menu
            li
              a(href='/recipe-editor') Recipe Editor
            li.divider
            li
              a(href='/recipes') My Recipes
        li(class=(title == 'Brewery') ? 'active' : undefined)
          a(href='/brewery') Brewery
        li(class=(title == 'Statistics') ? 'active' : undefined)
          a(href='/statistics') Statistics
        li(class=(title == 'Ingredients') ? 'active' : undefined)
          a(href='/ingredients') Ingredients
        li(class=(title == 'Calculators') ? 'active' : undefined)
          a(href='/calculators') Calculators

      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture, alt=(user.profile.name || user.email || user.id))
              else
                img(src=user.gravatar(60), alt=(user.profile.name || user.email || user.id))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
